.image {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
}

.heroButton {
  background-color: #33a8ec !important;
  margin-top: 35px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  border-color: #33a8ec;
}

.container {
  justify-content: flex-start;
}

.container h2 {
  margin-bottom: 30px;
}

.features {
  display: flex;
  text-align: center;
  margin-top: 96px;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  width: 100%;
  max-width: 300px;
}

.featureIcon .image {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin: auto;
  margin-bottom: 0px;
}

.featureheading {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 41px;
  color: #263238;
}

.featureTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

/* service */

.ourservice {
  font-size: 28px;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: 0px;
}

.attribution {
  font-size: 16px;
  line-height: 22px;
  margin-top: 32px;
}

.logo {
  height: 100px;
  margin-top: 32px;
  filter: brightness(0) invert(1);
}

.ourServiceFeatures {
  margin-top: 32px;
}

.ourServiceFeatures li {
  padding: 0;
  margin-right: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-family: Noto Sans JP;
  font-size: 19px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0px;
  column-gap: 24px;
}
.user_icon {
  width: 32px;
  height: 32px;
}
/* echo section */
.priceTiers {
  display: grid;
  margin: 0 auto;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
}

.priceTier {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  border: 4px solid #33a8ec;
  border-radius: 15px;
}

.priceTier_heading {
  padding: 30px;
  background-color: #33a8ec;
}

.priceTier_heading_right {
  padding: 30px;
  background-color: #7da6ba;
}

.priceTier_right {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  border: 4px solid #7da6ba;
  border-radius: 15px;
}

.priceTierTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  color: #fff;
  margin-bottom: 15px;
}

.priceTierDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.priceTierDescription span {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
}

.price {
  padding: 30px;
}

.priceTierFeatures svg {
  margin-right: 8px;
  flex-shrink: 0;
  color: #33a8ec;
}

.priceTier_right .priceTierFeatures svg {
  margin-right: 8px;
  flex-shrink: 0;
  color: #7da6ba;
}

.inner_priceTierDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  color: #33a8ec;
}
.priceTierFeatures li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.altButton {
  background-color: #33a8ec !important;
  border: 0 !important;
  color: #fff;
}

.priceTier_right .altButton {
  background-color: #7da6ba !important;
  border: 0 !important;
  color: #fff;
}

.altButton:hover {
  background-color: #7d96a3 !important;
  color: #fff;
}

/** Disable self service Tier for now */

.priceTiers {
  grid-template-columns: 1fr 1fr;
}

.featureGrid {
  grid-template-columns: 1fr 1fr 1fr;
}

/* Responsiveness */

@media (max-width: 900px) {
  .priceTiers {
    grid-template-columns: 1fr;
  }
  .questions {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .priceTierTitle {
    font-size: 20px;
    text-align: center;
  }

  .priceTierDescription {
    font-size: 15px;
  }

  .priceTierDescription span {
    font-size: 15px;
  }

  .priceTierFeatures li {
    font-size: 14px;
  }

  .ourServiceFeatures li {
    font-size: 12px;
    margin-bottom: 0px;
    column-gap: 15px;
    align-items: flex-start;
  }

  .user_icon {
    width: 18px;
    height: 18px;
  }

  .ourservice {
    font-size: 20px;
  }

  .features {
    display: grid;
    text-align: center;
    margin-top: 40px;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}

/* 製品詳細 section */

.itemTiers {
  display: grid;
  margin: 0 auto;
  gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 96px;
}

.itemTier {
  border-radius: 8px;
  padding: 48px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.itemTitle {
  justify-content: flex-start;
}

.itemTierTitle {
  font-size: 19px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 0px;
  color: #b7b7b7;
  text-align: center;
}

.itemTierDescription {
  margin-bottom: 16px;
}

.itemTierFeatures {
  margin-top: 32px;
}

.item {
  font-weight: 700;
  margin-bottom: 16px;
}

.itemTierFeatures svg {
  margin-right: 8px;
  flex-shrink: 0;
}
.itemTierFeatures li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.item_altButton {
  background-color: #607d8b !important;
  border: 0 !important;
  color: #fff;
}
.item_altButton:hover {
  background-color: #7d96a3 !important;
  color: #fff;
}

.item_featureGrid {
  margin-top: 32px;
  margin-bottom: 96px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item_featureGrid div {
  border-bottom: 1px solid #eee;
  padding: 8px;
}

.item_featureGridHeader {
  font-weight: 700;
  margin-top: 32px;
}

div.item_featureGridHeader {
  border-bottom: 0;
}

.item_questions {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.item_question {
  margin-bottom: 32px;
}

.item_questionQuestion {
  font-weight: 700;
  margin-bottom: 16px;
}

.item_questions a {
  font-weight: 700;
}

/** Disable self service Tier for now */

.itemTiers {
  grid-template-columns: 1fr 1fr;
}

.item_featureGrid {
  grid-template-columns: 1fr 1fr 1fr;
}

/* Responsiveness */

@media (max-width: 900px) {
  .itemTiers {
    grid-template-columns: 1fr;
  }
  .item_questions {
    grid-template-columns: 1fr;
  }
}

/* 製品詳細 start */

.Maintitle {
  font-size: 28px;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: 0px;
  margin-bottom: 48px;
  text-align: left;
}

.securityDomains {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  width: 100%;
}

@media (max-width: 1200px) {
  div.securityDomains {
    grid-template-columns: 1fr;
  }
}

.securityDomain {
  background-color: #fff;
  padding: 36px;
  border-radius: 15px;
  display: grid;
  flex-direction: column;
}

.securityDomainTitle {
  font-weight: 900;
  font-size: 19px;
  line-height: 160%;
  margin-bottom: 30px;
  color: #b7b7b7;
  text-align: center;
}

.securityDomainDescription {
  font-weight: 900;
  font-size: 16px;
  line-height: 130%;
  color: #1c1e21;
  border-bottom: 1px solid #2d81ff;
  padding-bottom: 15px;
}

.securityDomain img {
  width: 100%;
}

.spacer {
  margin: 15px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 220%;
  color: #1c1e21;
}

.securityDomain a {
  color: #2d81ff;
  text-decoration: underline;
}

.content_des {
  margin: 15px 0;
  font-size: 15px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #b7b7b7;
}

/* 製品詳細 end */

/* トライアル開始までの流れ start */
.section_seven {
  padding: 90px 0;
}

.section_seven .feature {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  max-width: 220px;
}

.section_seven .features {
  margin-top: 0;
  gap: 65px;
}

.section_seven .image {
  max-width: 150px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arrow {
  display: flex;
  align-items: center;
}

.arrow_image {
  max-width: 30px !important;
  width: 25px !important;
  height: auto;
}

.mobile_show {
  display: none;
}

.desktop_show {
  display: block;
}

@media (max-width: 1100px) {
  .section_seven .features {
    gap: 25px;
  }
}

@media (max-width: 860px) {
  .section_seven .features {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }

  .mobile_show {
    display: block;
  }

  .desktop_show {
    display: none;
  }
  .herocontent {
    order: 2;
    justify-content: center;
    align-items: center;
  }
  .herocontent h1 {
    font-size: 24px;
  }
  .herocontent .subtitle {
    text-align: center !important;
  }
  .section_seven {
    padding: 40px 0;
  }
}

.video_responsive {
  overflow: hidden;
  width: 100%;
}

@media (max-width: 768px) {
  .video_responsive iframe {
    height: 270px;
    width: 100%;
  }
}

/* トライアル開始までの流れ end */
