.header {
  font-size: 40px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 20px;
}

.subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.subheader {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.formContainer {
  max-width: 700px !important;
  gap: 0px !important;
  margin-top: 40px;
  padding: 35px 30px !important;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 32px;
  width: 100%;
  max-width: 600px;
}

.form input,
.form textarea,
.form select {
  padding: 16px 32px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 1.2em;
  font-family: inherit;
  transition: opacity 300ms ease-in-out;
}

.form select {
  /* credit: https://stackoverflow.com/a/67297063/3705191 */
  background: url("data:image/svg+xml,<svg height='12px' width='12px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.form input:disabled,
.form textarea:disabled {
  opacity: 0.2;
}

.form textarea {
  min-height: 100px;
}

.form input.hasError {
  border-color: #e22;
  box-shadow: inset 0 0 0 2px #e22;
}

.formError {
  color: #e22;
  font-size: 18px;
  font-weight: 600;
}

.span2 {
  grid-column: span 2 / auto;
}

/* Results Screen */

.fadeTransition {
  animation-name: opacity;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1, 0.01, 0, -0.08);
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 300px;
  z-index: -99;
}

.headline {
  text-align: center;
  font-size: 28px;
  line-height: 1.3;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 30px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 0px 4px 20px #d8e1eb94;
}

.fourColumnGrid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttonContainer {
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .fourColumnGrid {
    grid-template-columns: 1fr 1fr;
  }

  .buttonContainer {
    margin-bottom: 30px;
  }
}

.grayButton,
.blueButton {
  flex-direction: column;
}
.grayButton {
  background-color: #e2e8ee !important;
  border: 1px solid gainsboro !important;
}
.blueButton {
  background-color: #dde9f5 !important;
  border: 1px solid gainsboro !important;
}
.grayButton:hover,
.blueButton:hover {
  background-color: #ffffff !important;
}
.grayButton:active,
.blueButton:active {
  border: 1px solid #a3a3a3 !important;
}

.contactSection {
  font-size: 1.2em;
  margin-bottom: 40px;
  align-items: stretch !important;
  gap: 20px !important;
}

@media (max-width: 600px) {
  .contactSection {
    text-align: center;
    gap: 25px !important;
  }
}

.footerSection {
  max-width: 1000px !important;
  gap: 20px !important;
}

.footerSection blockquote {
  font-size: 1.1em;
}

.footerSection blockquote a {
  color: #1d92ff;
}
.footerSection blockquote a:hover {
  color: #006dd3;
}

/* Twitter-styled Headline */

.twitterContainer {
  max-width: 800px !important;
  gap: 10px !important;
  border-radius: 10px;
  box-shadow: 0px 4px 20px #d8e1eb94;
  border: 1px solid gainsboro;
  padding: 30px;
  margin-bottom: 10px;
}

.twitterHeader {
  justify-content: space-around !important;
  padding-top: 30px !important;
  gap: 10px !important;
}

.avatarCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: grey;
}

.twitterUsernameBlock {
  flex-grow: 1;
}
.twitterUsernameBlock > div:first-child {
  font-weight: bold;
  font-size: 1.2em;
}
.twitterUsernameBlock > div:first-child {
  margin-top: -5px;
}

.twitterText {
  font-size: 1.4em;
  line-height: 1.4;
  padding: 0px 30px;
}

.twitterButtons {
  justify-content: space-around !important;
  padding-bottom: 30px !important;
}

.blueText {
  color: #00aaff;
}
