.priceTiers {
  display: grid;
  margin: 0 auto;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 96px;
}

.priceTier {
  border-radius: 8px;
  padding: 48px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.priceTierTitle {
  font-size: 2em;
  font-weight: 700;
}

.priceTierDescription {
  margin-bottom: 16px;
}

.priceTierFeatures {
  margin-top: 32px;
}

.price {
  font-weight: 700;
  margin-bottom: 16px;
}

.priceTierFeatures svg {
  margin-right: 8px;
  flex-shrink: 0;
}
.priceTierFeatures li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

/* TIDY THE BELOW! */

.featureListGrid {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.featureListContainer h4 {
  margin-bottom: -12px;
  background: white;
  position: relative;
  width: fit-content;
  padding: 0 10px;
  padding-left: 18px;
  font-size: 1.4em;
}

.featureListContainer svg {
  vertical-align: bottom;
}

.featureList {
  height: 100%;
  border-top: 3px solid #a4b5c1; /* #77858c; */
  border-radius: 2px;
  padding-left: 15px;
  padding-top: 20px;
  margin: 0;
}

.featureList > li {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea; /* #f3f3f3; */
}
.featureList > li:last-child {
  border-bottom: none;
}

.featureList > li > .featureItemLink,
.featureList > li > .featureItemNonLink {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding-right: 0;
  transition: background-color 100ms ease-in-out;
}
.featureList > li > .featureItemLink:hover {
  background-color: #ebebeb;
}

.featureList > li > .featureItemLink > span,
.featureList > li > .featureItemNonLink > span {
  padding: 6px 0;
  padding-left: 0;
  flex-grow: 1;
  transition: padding-left 100ms ease;
}
.featureList > li > .featureItemLink:hover > span {
  padding-left: 5px;
}

.featureBtnIcons svg {
  padding: 0px 5px;
  box-sizing: content-box;
}

.featureBtnIcons .featureViewIcon {
  color: rgb(200, 200, 200);
  height: 100%;
  transition: background-color 100ms ease-in-out;
}
.featureList > li > .featureItemLink:hover .featureViewIcon {
  color: gray;
  background-color: #dfdfdf;
  stroke-width: 3px;
}
.featureList > li > .featureItemNonLink .featureViewIcon {
  stroke-width: 1;
}

.featureBtnIcons .featureInfoIcon {
  color: rgba(170, 186, 221, 0.536);
  stroke-width: 1;
  padding: 0px 8px;
  height: 100%;
  border-radius: 3px;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}
.featureList > li > .featureItemLink:hover .featureInfoIcon,
.featureList > li > .featureItemNonLink:hover .featureInfoIcon {
  color: rgb(155, 170, 205);
  stroke-width: 2;
}

.featureBtnIcons .featureAddIcon {
  color: rgba(225, 225, 225, 0.536);
  padding: 0px 8px;
  height: 100%;
  border-radius: 3px;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}
.featureBtnIcons .featureAddIcon:hover {
  color: gray !important;
  background-color: #f5f5f5;
}
.featureList > li > .featureItemLink:hover .featureAddIcon {
  color: rgb(172, 172, 172);
}

/* override ReactTooltip styling with custom */
.tooltipStyling {
  max-width: 400px;
  padding: 15px 20px !important;
}
/***/

.featureGrid {
  margin-top: 32px;
  margin-bottom: 96px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.featureGrid div {
  border-bottom: 1px solid #eee;
  padding: 8px;
}

.featureGridHeader {
  font-weight: 700;
  margin-top: 32px;
  background-color: #f8f8f8;
  padding: 2px 16px;
}

div.featureGridHeader {
  border-bottom: 0;
}

.check {
  display: flex;
  align-items: center;
}

.questions {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.question {
  margin-bottom: 32px;
}

.questionQuestion {
  font-weight: 700;
  margin-bottom: 16px;
}

.questions a {
  font-weight: 700;
}

.technologyMetricsSection {
  padding-top: 64px;
}

/* Responsiveness */

@media (max-width: 900px) {
  .priceTiers {
    grid-template-columns: 1fr;
  }
  .questions {
    grid-template-columns: 1fr;
  }
  .featureListGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 512px) {
  .featureListGrid {
    grid-template-columns: 1fr;
  }
}

.link {
  color: #000;
  font-weight: 600;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.link:hover {
  color: rgb(103, 103, 103);
  font-weight: 600;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.hr {
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  width: 100%;
}
