---
title: Working Group Two
layout: default
---

<div class="container padding-top-60 padding-bottom-100">
    <div class="row">
        <div class="col-12 col-xl-6 d-flex align-items-center">
            <div>
                <h1>Mobile core network as a service</h1>
                <p class="xlarge">Increase operator revenue by launching products that work out of the box on top of a cloud native mobile core network that is cheap to integrate, and carefree to operate.</p>
            </div>
        </div>
        <div class="col-12 col-xl-5 offset-xl-1 d-flex align-items-center">
            <img src="assets/images/mobile_woman.svg">
        </div>
    </div>
</div>

<div class="greybg padding-top-60 padding-bottom-60">
    <div class="container">
        
        <div class="row">
            <div class="col">
                
                <div class="align-center padding-bottom-50">
                    <img src="assets/images/mobile-core-network.svg" style="height: 80px;">
                </div>

                <div class="box">
                    <div class="row">
                        <div class="col-12 col-xl-4 d-flex align-items-center">
                            <img src="assets/images/mobile_woman.svg">
                        </div>
                        <div class="col-12 col-xl-7 d-flex align-items-center">
                            <div>
                                <p class="large padding-bottom-40">A versatile mobile core network built on top of AWS that works for MNOs, MVNOs, IoT players and Private networks.</p>
                                <p class="large float-xl-right"><a href="#" class="button"><span>Talk to an expert</span></a></p>
                                <p class="large"><a href="#" class="button">Read about how it works</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-4">
                <div class="box align-center">
                    <a href="#"><img src="assets/images/webinar.svg" style="height: 120px;"></a>
                    <h3><a href="#">Join webinar</a></h3>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="box align-center">
                    <a href="#"><img src="assets/images/whitepaper.svg" style="height: 120px;"></a>
                    <h3><a href="#">Get whitepaper</a></h3>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="box align-center">
                    <a href="#"><img src="assets/images/casestudy.svg" style="height: 120px;"></a>
                    <h3><a href="#">Read case study</a></h3>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container padding-top-80 padding-bottom-80">
    <div class="row">
        <div class="col-12 col-xl-5 d-flex align-items-center">
            <img src="assets/images/laptop-woman.svg">
        </div>
        <div class="col-12 col-xl-6 offset-xl-1 d-flex align-items-center">
            <div>
                <p class="padding-bottom-20"><img src="assets/images/devportal.svg" style="height: 100px;"></p>
                <p class="large padding-bottom-40">We believe that subscribers have different needs and should be treated as individuals, so we built the wgtwo developer portal to enable third party developers to create innovative products and to monetize them in the wgtwo marketplace.</p>
                <p class="large float-xl-right"><a href="#" class="button"><span>Sign up and start building</span></a></p>
                <p class="large"><a href="#" class="button">View documentation</a></p>
            </div>
        </div>
    </div>
</div>

<div class="greybg padding-top-60 padding-bottom-60">
    <div class="container">
        <div class="row">
            <div class="col col-xl-8 offset-xl-2">
                <p class="padding-bottom-20"><img src="assets/images/marketplace.svg" style="height: 100px;"></p>
                <p class="large">All products created with the wgtwo developer portal works out of the box for every operator using the wgtwo mobile core network.</p>
                <p class="large">Contact sales to get to know the products already available, and how they can grow an operators business.</p>
                <p class="large padding-top-30"><a href="#" class="button"><span>Talk to an expert</span></a></p>
            </div>
        </div>
    </div>
</div>

<div class="grey-gradient-bg">
    <div class="container padding-top-60 padding-bottom-60">
        <div class="row">
            <div class="col-12 col-xl-7 offset-xl-1 d-flex align-items-center">
                <div>

                    <h2 class="green padding-bottom-40">Blog</h2>

                    {% for post in site.posts limit:1 %}

                    <h2><a href="{{ post.url }}" class="black">{{ post.title }}</a></h2>
                    <p>{{ post.date | date: "%d. %b %Y" }}</p>
                    <p class="large">{{ post.excerpt }}</p>
                    <p class="large"><a href="{{ post.url }}">Read more</a></p>

                    {% endfor %}

                </div>
            </div>
            <div class="col-12 col-xl-3 offset-xl-1 d-flex align-items-center">
                <img src="assets/images/tmp_blog.jpg">
            </div>
        </div>
    </div>
</div>

<div class="container padding-top-60 padding-bottom-60">
    <div class="row">
        <div class="col">
            <h2 class="green">Media</h2>
        </div>
    </div>
    <div class="row">

        {% for post in site.news limit:3 %}

        <div class="col-12 col-xl-4">
            <div style="padding: 25px;">
                <p><a href="{{ post.url }}" class="image" style="background-image: url('assets/images/tmp_blog.jpg');">&nbsp;</a></p>
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p>{{ post.excerpt }}</p>
                <p><a href="{{ post.url }}">Read more</a></p>
            </div>
        </div>

        {% endfor %}

    </div>
</div>