div[role="banner"] {
  height: auto;
}

div[role="banner"] > div:last-of-type {
  display: flex;
  align-items: center;
  gap: 10px;
}

div[role="banner"] > div:last-of-type > .announcementBarLinkContainer {
  padding: 18px 20px;
  text-decoration: none;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: background-color 200ms ease;
}
div[role="banner"] > div:last-of-type > .announcementBarLinkContainer:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

div[role="banner"] > div:last-of-type > .announcementBarLinkContainer > img {
  height: 35px;
  margin-right: 2px;
}

@media (max-width: 500px) {
  div[role="banner"] > div:last-of-type > .announcementBarLinkContainer {
    padding: 10px 20px;
    flex-direction: column;
    gap: 0px;
  }

  div[role="banner"] > div:last-of-type > .announcementBarLinkContainer > img {
    height: 30px;
    margin-bottom: 5px;
  }

  div[role="banner"] .separator {
    display: none;
  }
}
