.footer--dark {
  --ifm-footer-background-color: #263238;
  --ifm-footer-link-color: rgba(255, 255, 255, 0.5);
  --ifm-footer-link-hover-color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}

.footer__logo {
  margin-top: 48px;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.5);
}
