.footer--dark {
  --ifm-footer-background-color: #263238;
  --ifm-footer-link-color: rgba(255, 255, 255, 0.5);
  --ifm-footer-link-hover-color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}

.footer__logo {
  margin-top: 48px;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.5);
}

/* Footer 2nd column, "Careers" item: */
.footer__links > .footer__col:nth-of-type(2) > .footer__items > .footer__item:nth-of-type(6):after {
  content: "HIRING";
  background-color: #b3e5fc;
  color: #003162;
  font-size: 0.6em;
  font-weight: 700;

  padding: 1px 5px;
  margin-left: 5px;
  border-radius: 10px;
}
