:root {
  --ifm-color-primary: #263238;
  --ifm-color-primary-dark: #37474f;
  --ifm-color-primary-darker: #455a64;
  --ifm-color-primary-darkest: #546e7a;
  --ifm-color-primary-light: #607d8b;
  --ifm-color-primary-lighter: #78909c;
  --ifm-color-primary-lightest: #90a4ae;
  --ifm-color-success: #607d8b;

  --ifm-font-weight-semibold: 600;

  --ifm-hr-border-color: transparent;

  --ifm-code-font-size: 95%;

  --ifm-navbar-shadow: transparent;
  --ifm-navbar-background-color: #fff;
  --ifm-navbar-height: 90px;
  --ifm-navbar-padding-horizontal: 24px;
  --ifm-navbar-link-color: rgba(0, 0, 0, 0.6);

  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.15)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --ifm-toc-border-color: transparent;

  --ifm-footer-padding-vertical: 96px;
  --ifm-h1-font-size: 3em;
  --ifm-link-color: #000;
}

/* WG2 COLORS */

/* COLORS */

:root {
  --wg2-aurora-green: #6adc99;
  --wg2-aurora-green-lighten-1: #8ee4b1;
  --wg2-aurora-green-lighten-2: #a6eac2;
  --wg2-aurora-green-lighten-3: #bdf0d2;
  --wg2-aurora-green-lighten-4: #d5f5e2;
  --wg2-aurora-green-lighten-5: #f9fefb;
  --wg2-aurora-green-darken-1: #51a774;
  --wg2-aurora-green-darken-2: #40845c;
  --wg2-aurora-green-darken-3: #2f6143;
  --wg2-aurora-green-darken-4: #1e3e2b;
  --wg2-aurora-green-darken-5: #040906;

  --wg2-international-blue: #002199;
  --wg2-international-blue-lighten-1: #3d56b1;
  --wg2-international-blue-lighten-2: #667ac2;
  --wg2-international-blue-lighten-3: #8f9dd2;
  --wg2-international-blue-lighten-4: #b8c1e2;
  --wg2-international-blue-lighten-5: #f5f6fb;
  --wg2-international-blue-darken-1: #001974;
  --wg2-international-blue-darken-2: #00145c;
  --wg2-international-blue-darken-3: #000f43;
  --wg2-international-blue-darken-4: #00092b;
  --wg2-international-blue-darken-5: #000106;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html:root {
  --aa-primary-color-rgb: 0, 0, 0;
  --aa-selected-color-rgb: 176, 190, 197;
}

html body[data-theme="dark"] {
  --aa-primary-color-rgb: 255, 255, 255;
  --aa-background-color-rgb: 0, 0, 0;
  --aa-input-border-color-rgb: 255, 255, 255;
  --aa-input-border-color-alpha: 0.1;
  --aa-text-color-rgb: 255, 255, 255;
  --aa-muted-color-rgb: 255, 255, 255;
  --aa-selected-color-rgb: 80, 80, 80;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html[data-theme="dark"] {
  --ifm-navbar-background-color: #18191a;
  --ifm-color-primary: #fff;
}

html[data-theme="dark"] .footer--dark {
  --ifm-footer-background-color: rgba(255, 255, 255, 0.05);
}

.table-of-contents li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8rem;
}

.markdown figure {
  text-align: center;
}

.docs-wrapper .main-wrapper {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

svg[aria-hidden="true"] {
  display: none;
}

.navbar__toggle svg[aria-hidden="true"] {
  display: block;
}

.docs-wrapper svg[aria-hidden="true"],
.theme-edit-this-page svg[aria-hidden="true"] {
  display: inline;
}

.pagination-nav__item:first-child .pagination-nav__label::before {
  display: none;
}

.pagination-nav__item--next .pagination-nav__label::after {
  display: none;
}

.pill {
  background-color: var(--wg2-aurora-green-lighten-3);
  color: #141414;
  padding: 2px 16px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  margin-bottom: 32px;
}

@media (min-width: 997px) {
  .table-of-contents:before {
    content: "On this page";
    font-weight: 600;
  }
}

/* Override Search Local Button */
.aa-DetachedCancelButton {
  transition: background 150ms ease, box-shadow 150ms ease;
}

.aa-DetachedCancelButton:hover {
  background: #e7e7e7 !important;
  box-shadow: none !important; /* negate default hover effect */
}
