.markdown a {
  color: black;
  font-weight: 600;
  border-bottom: 2px solid black;
}

.markdown a:hover {
  color: white;
  background-color: black;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid black;
}

.markdown p,
li,
ul {
  font-size: 18px;
}

html[data-theme="dark"] .markdown a {
  color: #aef0ff;
}

.markdown a.hash-link {
  background-image: none;
}

.markdown tbody {
  /* Top align for table cells looks better when some cells can have long contents. */
  vertical-align: top;
}

.markdown tr:nth-child(2n) {
  /* Remove striped background on odd rows */
  background-color: initial;
}

.docusaurus-highlight-code-line {
  background-color: #37474f;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
.mdx-page h2 {
  --ifm-h2-font-size: 2rem;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
