@media (min-width: 997px) {
  .sign-up {
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid rgb(231, 231, 231);
    display: block;
    margin-left: 16px;
    font-weight: 600;
    color: #000;
    transition: background-color 150ms ease;
  }
}

.aa-DetachedSearchButton {
  border: none !important;
}

.aa-DetachedSearchButtonPlaceholder {
  display: none;
}

.sign-up:hover {
  background-color: rgb(231, 231, 231);
}

html[data-theme="dark"] .sign-up:hover {
  background-color: rgba(231, 231, 231, 0.1);
}

.navbar__brand {
  height: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__inner {
  max-width: 1296px;
  box-sizing: border-box;
}

html[data-theme="dark"] .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

html[data-theme="dark"] .menu {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.blog-sidebar {
  padding-left: 32px;
  position: sticky;
  overflow-y: auto;
  top: calc(var(--ifm-navbar-height) + 2rem);
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
}

.aa-DetachedSearchButton {
  border-radius: 32px !important;
  cursor: pointer;
  padding-right: 8px;
  background: transparent !important;
}

.aa-Form {
  border-radius: 32px !important;
  margin: 8px !important;
}

.aa-Form:focus-within {
  box-shadow: rgba(38, 50, 56, 0.1) 0 0 0 2px,
    inset rgba(38, 50, 56, 0.1) 0 0 0 2px !important;
}

.dsla-search-wrapper {
  width: 27px;
  height: 44px;
}

@media (max-width: 996px) {
  .dsla-search-wrapper {
    margin-right: 24px;
  }
}

.dsla-search-wrapper,
.aa-DetachedSearchButtonIcon {
  cursor: pointer !important;
}

.navbar__toggle {
  position: absolute;
  right: 98px;
  margin: 0;
}

.navbar-sidebar {
  transform: translate3d(100%, 0, 0);
  right: 0;
  left: initial;
}

.dropdown > .navbar__link:after {
  display: none;
}

.localeDropdown {
  font-size: 0.8em;
  font-weight: 500;
  position: relative;
  visibility: hidden;
}
.localeDropdown:before {
  visibility: visible;
  content: "";
  opacity: 0.5;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-globe"><circle cx="12" cy="12" r="10"/><line x1="2" x2="22" y1="12" y2="12"/><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 999;
}
.navbar__items--right > .dropdown:last-child:after {
  content: "";
  opacity: 0.5;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: -5px;
  width: 15px;
  height: 100%;
}
.navbar__items--right > .dropdown:last-child:hover:after,
.navbar__items--right > .dropdown:last-child:hover > .localeDropdown:before {
  opacity: 1;
  cursor: pointer;
}

.localeDropdown + .dropdown__menu {
  padding: 0.4rem;
  padding-top: 0.1rem;
  border-radius: 4px;
}
.localeDropdown + .dropdown__menu .dropdown__link {
  border-radius: 0.15rem;
  margin-top: 0.3rem;
}
