@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.brandPage .brandPage h1,
.brandPage h2,
.brandPage h3,
.brandPage h4,
.brandPage h5,
.brandPage h6,
.brandPage p,
.brandPage span,
.brandPage a {
  font-family: "Inter" !important;
}

/* COLORS */

:root {
  --wg2-aurora-green: #6adc99;
  --wg2-aurora-green-lighten-1: #8ee4b1;
  --wg2-aurora-green-lighten-2: #a6eac2;
  --wg2-aurora-green-lighten-3: #bdf0d2;
  --wg2-aurora-green-lighten-4: #d5f5e2;
  --wg2-aurora-green-lighten-5: #f9fefb;
  --wg2-aurora-green-darken-1: #51a774;
  --wg2-aurora-green-darken-2: #40845c;
  --wg2-aurora-green-darken-3: #2f6143;
  --wg2-aurora-green-darken-4: #1e3e2b;
  --wg2-aurora-green-darken-5: #040906;

  --wg2-international-blue: #002199;
  --wg2-international-blue-lighten-1: #3d56b1;
  --wg2-international-blue-lighten-2: #667ac2;
  --wg2-international-blue-lighten-3: #010204;
  --wg2-international-blue-lighten-4: #b8c1e2;
  --wg2-international-blue-lighten-5: #f5f6fb;
  --wg2-international-blue-darken-1: #001974;
  --wg2-international-blue-darken-2: #00145c;
  --wg2-international-blue-darken-3: #000f43;
  --wg2-international-blue-darken-4: #00092b;
  --wg2-international-blue-darken-5: #000106;

  --wg2-aurora-pink: #b53dff;
  --wg2-aurora-pink-lighten-1: #c76cff;
  --wg2-aurora-pink-lighten-2: #d38bff;
  --wg2-aurora-pink-lighten-3: #deaaff;
  --wg2-aurora-pink-lighten-4: #eac9ff;
  --wg2-aurora-pink-lighten-5: #fcf7ff;
  --wg2-aurora-pink-darken-1: #8a2ec2;
  --wg2-aurora-pink-darken-2: #6d2599;
  --wg2-aurora-pink-darken-3: #501b70;
  --wg2-aurora-pink-darken-4: #331147;
  --wg2-aurora-pink-darken-5: #07020a;

  --wg2-aurora-purple: #2b043e;
  --wg2-aurora-purple-lighten-1: #664178;
  --wg2-aurora-purple-lighten-2: #866994;
  --wg2-aurora-purple-lighten-3: #c7b9cd;
  --wg2-aurora-purple-lighten-4: #c7b9cd; /* DUPLICATE !!!! */
  --wg2-aurora-purple-lighten-5: #f7f5f8;
  --wg2-aurora-purple-darken-1: #29043b;
  --wg2-aurora-purple-darken-2: #20032e;
  --wg2-aurora-purple-darken-3: #180222;
  --wg2-aurora-purple-darken-4: #0f0116;
  --wg2-aurora-purple-darken-5: #020003;
}

/* GENERAL */

html {
  scroll-behavior: smooth;
}

.brandPage h1 {
  font-size: 5em;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 1.1em;
  margin: 0;
}

.brandPage h3 {
  font-size: 3em;
  font-weight: 800;
  letter-spacing: -4px;
  line-height: 1.1em;
  margin: 0;
}

.brandPage p {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 1.6em;
  margin: 0;
}

.brandPage img {
  display: block;
}

.brandPage ul {
  margin-top: 20px;
}

.brandPage ul li {
  font-size: 1.5em;
  font-weight: 500;
  padding-left: 10px;
}

.brandPage button {
  border-radius: 12px;
  padding: 16px;
  letter-spacing: -0.2px;

  font-size: 1.1em;
  font-weight: 700;
  font-family: "Inter";

  border: none;
  outline: none;

  cursor: pointer;

  transition: all 300ms ease;
}
.brandPage button:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
.brandPage button:active {
  transform: scale(0.98);
  transition: all 100ms ease;
}

.brandPage .py_2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.brandPage .py_3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.brandPage .pt_3 {
  padding-top: 30px;
}
.brandPage .pt_4 {
  padding-top: 40px;
}

.brandPage .fw_300 {
  font-weight: 300;
}

/** fix scroll top offset **/
.brandPage :target {
  scroll-margin-top: 100px;
}

/* PAGE CSS */

.brandPage .topNav {
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.brandPage .topNav .topNavContainer {
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandPage .topNavContainer .navLogo {
  width: 80px;
  margin-top: -5px; /* centering the logo */
}

.brandPage .topNavContainer .navButtons {
  padding: 0 30px;
}

.brandPage .topNavContainer .navButtons .navButton {
  color: var(--wg2-international-blue);
  padding: 20px 12px;
  font-weight: 600;
}
.brandPage .topNavContainer .navButtons .navButton:hover {
  color: var(--wg2-aurora-green);
  text-decoration: underline;
}

.brandPage .topNavContainer .navRight .navText {
  color: black;
  font-weight: 500;
}

.brandPage section {
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.brandPage.main section:first-of-type {
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.brandPage .multiColumn {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.brandPage .multiColumn > * {
  flex: 1;
}

.brandPage .paragraphColumn {
  max-width: 800px;
}

.brandPage .noGap {
  gap: 0px;
}
.brandPage .gap40 {
  gap: 40px;
}

.brandPage .sectionGreen {
  background-color: var(--wg2-aurora-green);
  color: var(--wg2-international-blue);
}
.brandPage .sectionBlue {
  background-color: var(--wg2-international-blue);
  color: var(--wg2-aurora-green);
}
.brandPage .sectionWhite {
  background-color: white;
  color: var(--wg2-international-blue);
}
.brandPage .sectionPink {
  background-color: var(--wg2-aurora-pink);
  color: var(--wg2-international-blue);
}
.brandPage .sectionPurple {
  background-color: var(--wg2-aurora-purple);
  color: var(--wg2-aurora-pink);
}
.brandPage .sectionGrey {
  background-color: #546e7a;
  color: white;
}

.brandPage .colorButtons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.brandPage .fourColumnGrid {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.brandPage .btnTextDark {
  color: #111111;
}
.brandPage .btnTextWhite {
  color: white;
}

.brandPage .typographyHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandPage .roundedBtnBlue {
  color: var(--wg2-international-blue);
  font-weight: 500;
  padding: 15px 20px;
  border: 2px solid var(--wg2-international-blue);
  border-radius: 5px;
  transition: background-color 100ms ease, color 100ms ease;
}
.brandPage .roundedBtnBlue:hover {
  background-color: var(--wg2-international-blue);
  color: white;
}

.brandPage .downloadLink a {
  color: var(--wg2-aurora-green);
  text-decoration: underline;

  display: flex;
  gap: 10px;
}
.brandPage .downloadLink a > div.downloadLinkIconContainer {
  width: 50px;
}
.brandPage .downloadLinkIconContainer > img {
  width: 100%;
  height: 100%;
}

.brandPage .footer {
  background-color: white;
  color: #6c8a95;
}
.brandPage .footer p {
  font-size: 1em;
  font-weight: 600;
}

/* RESPONSIVENESS */

@media (max-width: 1000px) {
  .brandPage .navButton {
  }
}

@media (max-width: 800px) {
  .brandPage .multiColumn {
    flex-direction: column;
    gap: 28px;
  }

  .brandPage .colorButtons {
    display: flex;
    flex-direction: column;
  }

  .brandPage .typographyHeading {
    flex-direction: column;
    gap: 40px;
  }

  .brandPage .roundedBtnBlue {
    width: 100%;
  }
}
