.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-bottom: 96px;
}

.teamMember {
  max-width: 360px;
  text-align: center;
}

.teamMemberImage img {
  border: 1px solid #eee;
  border-radius: 16px;
  width: 100%;
}

.teamMemberName {
  font-weight: 700;
  font-size: 1.4em;
}

.teamMemberEmail {
  font-weight: 600;
}

@media (max-width: 800px) {
  .team {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .team {
    grid-template-columns: 1fr;
  }
}
