div.technologymetricsContainer.technologymetricsContainer {
  align-items: flex-start;
}

.technologymetricsList {
  padding: 32px 64px;
}

.title {
  line-height: 56px;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
}

.subtitle {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

@media (max-width: 460px) {
  div.heart {
    display: block;
    width: 100%;
    text-align: center;
  }

  div.title {
    text-align: center;
    width: 100%;
  }
  div.subtitle {
    text-align: center;
    width: 100%;
  }
  div.technologymetricsList {
    padding: 32px 32px;
  }
}

.image {
  border-radius: 16px;
  flex-shrink: 1;
}

.image img {
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .image {
    display: none;
  }
}

.link {
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.link:hover {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.hr {
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  width: 100%;
}

.technologyMetrics {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

@media (max-width: 800px) {
  div.technologyMetrics {
    grid-template-columns: 1fr;
  }
}

.technologymetrics {
  background-color: hsla(0, 0%, 100%, 0.25);
  padding: 36px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.technologymetricsImage {
  width: 100%;
  margin-bottom: 24px;
  border-radius: 8px;
}

.technologymetricsImage img {
  border-radius: 8px;
}

.technologymetricsTitle {
  font-size: 44px;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 24px;
  color: var(--wg2-international-blue);
}

.technologymetricsDescription {
  margin-bottom: 12px;
}

.technologymetricsLink {
  font-weight: 600;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  color: #fff;
}

.technologymetricsButton {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 32px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: -16px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.technologymetricsButton:hover {
  box-shadow: inset 100px 0 100px 100px rgb(0 0 0 / 30%);
  color: rgba(255, 255, 255, 0.7);
}
