div.caseStudyContainer.caseStudyContainer {
  align-items: flex-start;
}

.caseStudyList {
  padding: 32px 64px;
}

.title {
  line-height: 56px;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
}

.subtitle {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.subtitleJp {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
}

@media (max-width: 460px) {
  div.heart {
    display: block;
    width: 100%;
    text-align: center;
  }

  div.title {
    text-align: center;
    width: 100%;
  }
  div.subtitle {
    text-align: center;
    width: 100%;
  }
  div.caseStudyList {
    padding: 32px 32px;
  }
}

.image {
  border-radius: 16px;
  flex-shrink: 1;
}

.image img {
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .image {
    display: none;
  }
}

.link {
  color: var(--wg2-international-blue-lighten-1);
  font-weight: 600;
  border-bottom: 2px solid var(--wg2-international-blue-lighten-2);
}

.link:hover {
  color: var(--wg2-international-blue-lighten-3);
  border-bottom: 2px solid var(--wg2-international-blue-lighten-3);
}

.hr {
  border-bottom: 1px solid var(--wg2-aurora-green-lighten-2);
  width: 100%;
}

.caseStudies {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media (max-width: 1200px) {
  div.caseStudies {
    grid-template-columns: 1fr;
  }
}

.caseStudy {
  background-color: hsla(0, 0%, 100%, 0.25);
  padding: 36px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caseStudyImage {
  width: 100%;
  margin-bottom: 24px;
  border-radius: 8px;
}

.caseStudyImage img {
  border-radius: 8px;
}

.caseStudyTitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 12px;
}

.caseStudyDescription {
  margin-bottom: 12px;
}

.caseStudyLink {
  font-weight: 600;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  color: #fff;
}

.caseStudyButton {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 32px;
  color: var(--wg2-international-blue);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: -16px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.caseStudyButton:hover {
  box-shadow: inset 100px 0 100px 100px var(--wg2-aurora-green-darken-1);
  color: var(--wg2-international-blue-lighten-5);
}
