<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-3">
                <p>PRODUCTS</p>
                <ul>
                    <li><a href="#">Mobile Core Network</a></li>
                    <li><a href="#">Developer Portal</a></li>
                    <li><a href="#">Marketplace</a></li>
                </ul>
            </div>
            <div class="col-12 col-xl-3">
                <p>PRODUCTS</p>
                <ul>
                    <li><a href="#">Mobile Core Network</a></li>
                    <li><a href="#">Developer Portal</a></li>
                    <li><a href="#">Marketplace</a></li>
                </ul>
            </div>
            <div class="col-12 col-xl-3">
                <p>PRODUCTS</p>
                <ul>
                    <li><a href="#">Mobile Core Network</a></li>
                    <li><a href="#">Developer Portal</a></li>
                    <li><a href="#">Marketplace</a></li>
                </ul>
            </div>
            <div class="col-12 col-xl-3">
                <p>PRODUCTS</p>
                <ul>
                    <li><a href="#">Mobile Core Network</a></li>
                    <li><a href="#">Developer Portal</a></li>
                    <li><a href="#">Marketplace</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 align-center bottom">
                <p>COPYRIGHT © WORKING GROUP TWO AS<br>ALL RIGHTS RESERVED.</p>
                <p><img src="{{ site.url }}/assets/images/logo-white.svg" style="height: 50px;"></p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>