.quoteContainer {
  max-width: 900px;
}

.quote {
  font-size: 1.5em;
  font-style: italic;
}

.quoteIcon {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

.quoteBy {
  text-align: right;
  font-size: 1.3em;
}
