@import 'bootstrap-grid';

html, body, h1, h2, h3, h4, h5, h6, header, footer, nav, section, div, span, p, ol, ul, li, th, td, input, textarea, select, option {
    padding: 0;
    margin: 0;
    font-family: 'Oxanium', cursive;
    font-weight: 400;
    color: #000;
}

body {
    background-color: #fff;
    padding-top: 150px;
}

.container {
    @media (min-width: 1600px) {
        max-width: 1540px;
    }
}

h1 {
    font-size: 75px;
    line-height: 90px;
    padding: 15px 0 15px 0;

    @include media-breakpoint-down(lg) {
        font-size: 55px;
        line-height: 70px;
    }
}

h2 {
    font-size: 50px;
    line-height: 65px;
    padding: 15px 0 15px 0;

    @include media-breakpoint-down(lg) {
        font-size: 35px;
        line-height: 50px;
    }
}

h3 {
    font-size: 35px;
    line-height: 50px;
    padding: 10px 0 10px 0;

    @include media-breakpoint-down(lg) {
        font-size: 28px;
        line-height: 38px;
    }
}

p, ul {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 0 10px 0;

    @include media-breakpoint-down(lg) {
        font-size: 16px;
        line-height: 25px;
    }

    &.large {
        font-size: 26px;
        line-height: 38px;

        @include media-breakpoint-down(lg) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    &.xlarge {
        font-size: 30px;
        line-height: 48px;

        @include media-breakpoint-down(lg) {
            font-size: 25px;
            line-height: 37px;
        }
    }
}

img {
    max-width: 100%;
}

a {
    color: #009197;
    text-decoration: none;

    &.black {
        color: #000;
    }

    &.button {
        span {
            display: inline;
            color: #fff;
            background-color: #EF5180;
            padding: 15px 20px 15px 20px;
            border-radius: 5px;
            -webkit-box-shadow: 5px 5px 5px 0 #E8E8E8;
            box-shadow: 5px 5px 5px 0 #E8E8E8;
        }
    }

    &.image {
        display: block;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 60%;
    }
}

.green {
    color: #009197;
}

.greybg {
    background-color: #F4F4F4;
}

.grey-gradient-bg {
    background: transparent linear-gradient(180deg, #FDFDFD 0%, #E8E8E8 100%) 0% 0% no-repeat padding-box;
}

div.box {
    border: 1px solid #707070;
    background-color: #fff;
    padding: 50px 90px 50px 90px;
    margin-bottom: 30px;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 100;

    div.logo {
        a {
            display: block;
            text-decoration: none;
            height: 100px;
            background-image: url('../images/logo-colors.svg');
            background-repeat: no-repeat;
            background-size: auto 60%;
            background-position: center left;
        }
    }

    div.toggle {
        cursor: pointer;
    }

    div.nav {
        @include media-breakpoint-down(lg) {
            display: none;

            &.visible {
                display: block;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;

            li {
                display: inline-block;
                font-size: 25px;
                line-height: 100px;
                margin-left: 60px;

                a {
                    display: inline-block;
                    color: #000;
                    text-decoration: none;
                }
            }

            @include media-breakpoint-down(lg) {
                display: block;
                text-align: center;
                background-color: #fff;
                padding: 40px 0 40px 0;

                li {
                    display: block;
                    font-size: 35px;
                    line-height: 80px;
                    margin-left: 0;
                }
            }
        }
    }

    /* @include media-breakpoint-down(md) { */
}

/* Footer */

footer {
    background: transparent linear-gradient(178deg, #274893 0%, #009197 100%) 0% 0% no-repeat padding-box;
    padding: 70px 0 70px 0;

    p {
        color: #83B3E3;
    }

    p, li {
        font-size: 22px;
        line-height: 40px;

        @include media-breakpoint-down(lg) {
            text-align: center;
        }
    }

    ul {
        list-style: none;

        li {
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    div.bottom {
        padding-top: 80px;

        p {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
        }
    }
}

/* General */

.float-xl-right {
    @include media-breakpoint-up(lg) {
        float: right;
    }
}

.float-right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.fullwidth {
    display: block;
    width: 100%;
}

/* WP */

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
