.image {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
}

.buttons {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: stretch;
}

.features {
  display: flex;
  text-align: center;
  margin-top: 96px;
  gap: 64px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  width: 100%;
  max-width: 300px;
}

.featureIcon {
  width: 264px;
  margin-bottom: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.featureTitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 12px;
}

.logo {
  height: 150px;
}

.hr {
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  width: 100%;
}

.link {
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.link:hover {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
