.container {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerCardView {
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 0px !important;
  margin-bottom: 15px !important;
}

.dateContainer {
  display: flex;
  align-items: center;
}

.iconsContainer {
}

.noIcons {
  display: none;
}

.button {
  border: 0;
  background: transparent;
  vertical-align: middle;
  padding: 0;
  margin-left: 8px;
  opacity: 0.6;
  transition: opacity 150ms ease;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #7c8698;
}

.iconLink {
  fill: transparent;
  color: #7c8698;
}

.spacer {
  margin-left: 8px;
  color: #dce2ec;
}

/* Mobile View */
@media (max-width: 600px) {
  /* Card View */
  .containerCardView {
    padding: 0 25px;
  }

  .container .dateContainer {
    flex-direction: column;
    font-size: 0.8em;
  }
}
