.employeeQuote {
  border: 0;
  color: inherit;
  line-height: 1.3;
  padding: 0;
  text-align: left;
}

.employeeImage {
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 16px;
  overflow: hidden;
  width: 120px;
  float: right;
}

.employeeQuote p {
  font-size: 20px;
}

.employeeQuote p::before {
  content: open-quote;
}

.employeeQuote p::after {
  content: close-quote;
}

.employeeQuote cite {
  font-style: normal;
}

.name {
  font-weight: bold;
}
