.buttons {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: stretch;
}

.image {
  max-width: 500px;
}

.image div {
  background-image: none !important;
}

@media (max-width: 1200px) {
  .image {
    display: none;
  }
}

.titleHeader {
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
}

.hn {
  color: transparent;
}
.ak {
  -webkit-background-clip: text;
  background-clip: text;
}

.ab {
  --tw-gradient-to: #4fd1c5;
}
.av {
  --tw-gradient-from: #338cf5;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(51 140 245/0));
}
.ah {
  background-image: linear-gradient(90deg, var(--tw-gradient-stops));
}
