.section{
  background: 0 26%/cover #e2eef7;
  padding: 120px 0;
}

.text{
  text-align: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroTextContainer{
  align-items: center;
  max-width: 860px;
}

.buttons {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: stretch;
}

.heroButton{
  background-color: #1d3148 !important;
}

.heroButton:hover {
  background-color: #2f455e!important;
}

.image {
  max-width: 500px;
}

.image div {
  background-image: none !important;
}

@media (max-width: 1200px) {
  .image {
    display: none;
  }
}

.heroTextContainer {
  max-width: 860px;
  align-items: center;
}

.titleHeader {
  color: #002c59;
  font-size: 42px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}

.subtitle {
  color: #001f3f;
  text-align: justify;
  text-align-last: center;
}

.buttons {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.heroButton {
  background-color: #1d3148 !important;
}
.heroButton:hover {
  background-color: #2f455e !important;
}

.hn {
  color: transparent;
}
.ak {
  -webkit-background-clip: text;
  background-clip: text;
}

.ab {
  --tw-gradient-to: #4fd1c5;
}
.av {
  --tw-gradient-from: #338cf5;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgb(51 140 245/0));
}
.ah {
  background-image: linear-gradient(90deg, var(--tw-gradient-stops));
}
